<!DOCTYPE html>

<html>
    <head>
        <title>Tentang</title>
        <link rel="icon" href="/img/awan.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <div class="main-content-tentang">
            <div class="text">
                <h2>GHENTA ALIF ALDE</h2>
                <p>
                    Mahasiswa semester 5 jenjang studi S1 Teknik Informatika dari Universitas Negeri Padang. 
                    Memiliki ketertarikan mendalam pada dunia teknologi informasi dan digital. 
                    Memiliki kemampuan di dunia IT dalam pengembangan website dan aplikasi menggunakan Javascript, C, C++, Python Languages.
                    Berdedikasi untuk menjadi programmer di perusahaan besar IT luar negeri.
                </p>
                <p>
                    <img src="/img/gmail.jpeg" width="16px">
                    <a href="mailto:Ghentaalifalde1@gmail.com">Ghentaalifalde1@gmail.com</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/img/wa.jpeg" width="16px">
                    <a href="https://wa.me/628997622759">08997622759</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
            </div>
        </div> 
        <div class="isian-bawah">
            <div class="biodata-pendidikan">
            
            <h2>BIODATA</h2>
            <li>
                Nama &nbsp;&nbsp;&nbsp; : Ghenta alif alde
            </li>
            <br>
            <li>
                TTL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Padang, 08 February 2003
            </li>
            <br>
            <h2>PENDIDIKAN</h2>
            <li>
                <b>UNIVERSITAS NEGERI PADANG</b>
            </li>
            <br>
            <li>
                <b>S1 - Teknik Informatika (2021-Sekarang) </b>
            </li>
            <br>
            <li>
                <b>SMKN 3 PADANG (2018-2021) </b>
            </li>
            <br>
            <li>
                <b>SMPN 25 PADANG (2015-2018) </b>
            </li>
            </div>
        </div>
        {{>footer}}
    </body>

</html>